@model IEnumerable<SistemaVeterinaria.Models.Cita>

@{
    ViewBag.Title = "Index";
}


<!-- Estilo para la pagina -->
<style>
    body {
        background-color: #E5D2B8; /* Verde limón claro */
        color: #004d00; /* Verde oscuro */
    }

    h2 {
        color: #004d00; /* Verde oscuro */
    }


    .btn-primary {
        background-color: #006600; /* Verde más oscuro */
        border-color: #004d00;
    }

        .btn-primary:hover {
            background-color: #004d00;
            border-color: #003300;
        }

    .table {
        background-color: #e6ffe6; /* Fondo verde claro para la tabla */
        color: #004d00; /* Verde oscuro */
    }

        .table th {
            background-color: #004d00; /* Fondo verde oscuro para los encabezados */
            color: #ffffff; /* Texto blanco */
        }

        .table td {
            border-color: #004d00; /* Borde verde oscuro */
        }
</style>

<!-- Título de la sección -->
<h2>Citas Agendadas</h2>
<br />

<!-- Enlace para agendar una nueva cita -->
<a href="@Url.Action("ProgramarCita", "Citas")" class="btn btn-primary">
    Agendar Cita
</a>

<br />
<br />

<!-- Tabla para mostrar las citas agendadas -->
<table class="table">
    <thead>
        <tr>
            <!-- Encabezados de la tabla -->
            <th>Fecha y hora</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Cliente</th>
            <th>Mascota</th>
        </tr>
    </thead>
    <tbody>
        <!-- Iteramos sobre cada cita en el modelo -->
        @foreach (var cita in Model)
        {
            <tr>
                <!-- Mostramos los detalles de cada cita en una fila de la tabla -->
                <td>@cita.Fecha.ToString("yyyy-MM-dd HH:mm")</td> <!-- Fecha y hora de la cita -->
                <td>@cita.TipoCita</td> <!-- Tipo de cita -->
                <td>@cita.Descripcion</td> <!-- Descripción de la cita -->
                <td>@cita.Nombre @cita.PrimerApellido</td> <!-- Nombre del cliente -->
                <td>@cita.MascotaNombre</td> <!-- Nombre de la mascota -->
            </tr>
        }
    </tbody>
</table>

