@model IEnumerable<SistemaVeterinaria.Models.Cita>

@{
    ViewBag.Title = "Index";
}


<!-- Estilo para la pagina -->
<style>
    body {
        background-color: #E5D2B8; /* Verde limón claro */
        color: #004d00; /* Verde oscuro */
    }

    h2 {
        color: #004d00; /* Verde oscuro */
    }


    .btn-primary {
        background-color: #006600; /* Verde más oscuro */
        border-color: #004d00;
    }

        .btn-primary:hover {
            background-color: #004d00;
            border-color: #003300;
        }

    .table {
        background-color: #e6ffe6; /* Fondo verde claro para la tabla */
        color: #004d00; /* Verde oscuro */
    }

        .table th {
            background-color: #004d00; /* Fondo verde oscuro para los encabezados */
            color: #ffffff; /* Texto blanco */
        }

        .table td {
            border-color: #004d00; /* Borde verde oscuro */
        }
</style>

<h2>Citas Agendadas</h2>
<br />
<a href="@Url.Action("ProgramarCita", "Citas")" class="btn btn-primary">
    Agendar Cita
</a>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Fecha y hora</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Cliente</th>
            <th>Mascota</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cita in Model)
        {
            <tr>
                <td>@cita.Fecha.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@cita.TipoCita</td>
                <td>@cita.Descripcion</td>
                <td>@cita.Nombre @cita.PrimerApellido</td>
                <td>@cita.MascotaNombre</td>
            </tr>
        }
    </tbody>
</table>
