@model SistemaVeterinaria.Models.Cita

@{
    ViewBag.Title = "Programar Cita";
}

<h2>Programar Cita</h2>

@using (Html.BeginForm("ProgramarCita", "Citas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion)
        @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.TipoCita)
        @Html.DropDownListFor(model => model.TipoCita,
            new List<SelectListItem> {
                new SelectListItem { Text = "Consulta", Value = "Consulta" },
                new SelectListItem { Text = "Vacunación", Value = "Vacunacion" }
            },
            "Seleccione un tipo de cita",
            new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TipoCita)

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DNI)
        @Html.TextBoxFor(model => model.DNI, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DNI)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrimerApellido)
        @Html.TextBoxFor(model => model.PrimerApellido, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.PrimerApellido)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SegundoApellido)
        @Html.TextBoxFor(model => model.SegundoApellido, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.SegundoApellido)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefono)
        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Telefono)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MascotaNombre)
        @Html.TextBoxFor(model => model.MascotaNombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MascotaNombre)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fecha)
        @Html.TextBoxFor(model => model.Fecha, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.Fecha)
    </div>

    <button type="submit" class="btn btn-primary">Programar Cita</button>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
